<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjIS0kgrYQH6Vh-FgxmJK3Zzeh_kIQYho</string>
	<key>GCM_SENDER_ID</key>
	<string>250130658777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristianosky.app.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>subirarchivo-b34c6</string>
	<key>STORAGE_BUCKET</key>
	<string>subirarchivo-b34c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250130658777:ios:0abba2ee06ee7f341fd5c8</string>
	<key>DATABASE_URL</key>
	<string>https://subirarchivo-b34c6-default-rtdb.firebaseio.com</string>
</dict>
</plist>